<!doctype html>
<html lang="en">

<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Jun 2020 06:10:47 GMT -->
<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="description" content="Lucid Bootstrap 4x Admin Template">
	<meta name="author" content="WrapTheme, design by: ThemeMakker.com">
	<!-- Favicon and touch icons  -->
	<link rel="shortcut icon" href="https://nimapinfotech.com/wp-content/uploads/2019/01/cropped-nimap-infotech-favicon-02-32x32.png">
	<link rel="apple-touch-icon-precomposed" href="https://nimapinfotech.com/wp-content/uploads/2019/01/cropped-nimap-infotech-favicon-02-32x32.png">

	@*<link rel="icon" href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/light/favicon.ico" type="image/x-icon">*@
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/font-awesome/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
	<link rel="stylesheet" href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/morrisjs/morris.min.css" />
	<link rel="stylesheet" href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/nestable/jquery-nestable.css" />

	<link rel="stylesheet" href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/sweetalert/sweetalert.css" />
	<link rel="stylesheet" href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/light/assets/css/main.css">
	<link rel="stylesheet" href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/light/assets/css/color_skins.css">

	<link rel="stylesheet" href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/toastr/toastr.min.css">
	<link href="~/Theme/www.wrraptheme.com/templates/lucid/hr/html/light/assets/css/main.css" rel="stylesheet" />

	<link rel="stylesheet" href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
	<link rel="stylesheet" href="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">

</head>
<body class="theme-orange">
	<!-- Page Loader -->
	@Html.Partial("_Header")


	<!-- Overlay For Sidebars -->
	<div id="wrapper">
		@Html.Partial("_UserDetail")

		@Html.Partial("_SideMenu")

		@RenderBody()


	</div>

	<!-- Javascript -->

	@Html.Partial("_Script")
	@RenderSection("scripts", required: false)
</body>
</html>
